services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile-api
    image: my-spring-api
    container_name: spring-api
    environment:
      SPRING_PROFILES_ACTIVE: default
    ports:
      - "8080:8080"
    restart: unless-stopped

